table, th, td {
   border: 1px solid black;
}
table td.cell{
	background-color: #5bbe5b;
  	border-color: #0b6c0b;
};@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
h1{
	font-family: 'Pacifico', cursive;
}
body{
	font-family: 'Droid Serif', serif;
}
;.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: darkblue;
	background-color: grey;
}
.btn:hover{
	background-color: cadetblue;	
}